.container .title {
  margin: 3rem 0;
}

.question_list {
  display: inline-block;
  text-align: center;
  width: 100%;
}

input[id="chk_person"],
input[id="chk_corporate"] {
  display: none;
}

input[id="chk_person"]+label,
input[id="chk_corporate"]+label {
  background-color: rgb(133, 198, 241);
  position: relative;
  top: 0.2rem;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 11px;
  color: rgb(133, 198, 241);
  margin: 0 0.5rem 0 0;
  cursor: pointer;
}

input[id="chk_person"]:checked~label[for="chk_person"]:after,
input[id="chk_corporate"]:checked~label[for="chk_corporate"]:after {
  position: relative;
  top: -0.25rem;
  color: white;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  content: "\2713";
}

input[id*="answer"] {
  display: none;
}

input[id*="answer"]+label {
  display: inline-block;
  padding: 20px;
  width: 100%;
  border-bottom: 1.5px solid #777;
  font-size: 17px;
  font-weight: 500;
  color: #333;
  width: 500px;
  cursor: pointer;
  position: relative;
}

input[id*="answer"]+label img {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  margin-top: -15px;
  display: inline-block;
}

input[id*="answer"]:checked+label img {
  transform: rotate(180deg);
}

input[id*="answer"]+label+div {
  display: block;
  max-height: 0;
  transition: all .35s;
  overflow: hidden;
  background: #E6E6E6;
  font-size: 13px;
}

input[id*="answer"]:checked+label+div {
  position: relative;
  max-height: 200px;
  border-radius: 10px;
}

/* input[id*="answer"]:checked:before .text {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #3498db;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
} */

input[id*="answer"]+label+div p {
  display: inline-block;
  padding: 2rem;
  margin: 0;
  font-size: 15px;
}

.person_questions {
  display: none;
}

.corporate_questions {
  display: none;
}

.visible {
  display: block;
}

.common {
  display: block;
}

.question_list ul {
  margin-bottom: 3rem;
}