.contianer .title {
	margin: 3rem 0;
}

.notice_list_menu {
  box-sizing: border-box;
	width: 100%;
  margin: 0;
}

.notice_text {
  margin-top: 20px;
  font-size: 20px;
}

#wrap {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	min-height: 500px;
}

#header {
	height:62px;
/*	border:solid 1px #cccccc;  */
	margin-top:16px;
}

#logo {
	float:left;
	margin-left:35px;
	margin-top:5px;
}

#moto {
	float:left;
	margin-left:100px;
	margin-top:5px;
}

#top_login {
	float:right;
	margin-right:20px;
}

#menu {
	margin-top:5px;
}

.menus {
	float:left;
}
/* *********************************************************** */
/* 공지사항 & 내용 & */

/* list content */
.list_item {
	margin: 0 auto;
	width: 800px;
	height: 40px;
	margin-top:2px;
	padding: 0.5rem 1rem;
	border-bottom:solid 2px #eeeeee;
}

#notice_contents {
	margin: 0 auto;
	width: 800px;
	min-height: 30rem;
	margin-top:2px;
	padding: 1rem;
	border-bottom:solid 2px #aaa;
}

/* 글 게시 날짜 & 시간시간 */
.col2_view {
  float: right;
}

.notice_buttons {
	display: inherit;
	text-align: right;
	margin: 1rem auto;
	width: 800px;
}

.notice_buttons li {
	position: relative;
	top: -1rem;
}

.list_button{
  	width: 50px;
  	height: 30px;
}

#textarea_content {
	width: 932px;
  	height: 30rem;
	padding: 0.5rem 1rem;
  	resize: none;
}

#write_notice, #write_notice li {
	width: 1068px;
	padding: 0.5rem 1rem;
}

#write_notice label {
	margin: 0 1rem;
	display: inline;
}

#input_subject {
	width: 932px;
	padding: 0 0.5rem;
}

#content #main_img {
	margin-top:20px;
}

#content #col1 {
	margin-top:20px;
	width:160px;
	min-height:600px;
	float:left;
	border-right:solid 1px #dddddd;
}

#left_menu {
	width:92%;
	height:270px;
	margin-left:7px;
}

#left_menu #sub_title{
	padding-top:10px;
	height:30px;
	border-bottom:solid 1px #dddddd;
}

#left_menu #sub_title img{
	padding-left:10px;
/*	padding-top:20px;   */
}

#left_menu ul{
	padding-left:5px;
	padding-top:10px;
	padding-bottom:100px;
/*	border-bottom:solid 1px #dddddd; */
}

#left_menu li{
	padding:5px;
}

#latest {
	width:1000px;
}

#latest1 {
	width:46%;
	height:250px;
	float:left;
	padding-right:20px;
	margin:15px 0 0 20px;
	border-right:solid 1px #dddddd;
}


#content #col2 {
	width: 100%;
	min-height:50%;
	float:left;
	margin-left:15px;
	/* text-align:center; */
/*	border:solid 1px #cccccc; */
}

#content #col2 #title{
	margin-top:30px;
	height:30px;
	border-bottom:solid 1px #cccccc;
}

/* list css */

#list_search {
	height:30px;
	padding-top:10px;
}

#list_search #list_search1 {
	float:left;
	margin-top:2px;
}

#list_search #list_search2 {
	float:left;
	margin-left:300px;
	margin-top:4px;
}


#list_search #list_search3 {
	float:left;
	margin-left:5px;
	margin-top:1px;
}

#list_search #list_search3 select {
	width:80px;
	height:21px;
	border:solid 1px #cccccc;
}

#list_search #list_search4 {
	float:left;
	margin-left:3px;
}

#list_search #list_search4 input {
	width:120px;
	height:18px;
	border:solid 1px #cccccc;
}

#list_search #list_search5 {
	float:left;
	margin-left:5px;
	margin-top:1px;
}

/* list menu */
#list_top_title {
  	margin: 0 auto;
	width: 800px;
	padding: 0.5rem 1rem;
	border-top: solid 2px #aaaaaa;
	background-color:#eeeeee;
	margin-bottom:3px;

}

#list_top_title li {
	display:inline;
}

#list_content {
	min-height: 30rem;
}

.list_item .list_item1, #list_title1{
	float: left;
	width: 40px;
	text-align:center;
}

.list_item .list_item2, #list_title2{
	float: left;
	width: 530px;
  	padding-left: 50px;
}

.list_item .list_item3, #list_title3{
	float: left;
	width: 120px;
}

.list_item .list_item4, #list_title4{
	float:left;
	width:75px;
  text-align: center;
  padding-right: 15px;
}

.list_item .list_item5, #list_title5{
	float:left;
	width:160px;
	text-align: center;
}

#page_button {
	margin-top:20px;
	text-align: center;
}

#page_num {
	float:left;
	width:100%;
	margin-top:10px;
	text-align:center;
}

#btn_write_notice {
	display: block;
	padding: 0.2rem;
	float: right;
	margin-right: 5rem;
}
/* write_form css */

#write_form_title {
	margin-top:20px;
	width:99%;
	height:20px;
	text-align:center;
	padding-top:7px;
	border-top:solid 2px #aaaaaa;
	background-color:#eeeeee;
}

#write_form {
	margin-top:10px;
}

#write_form #write_row1 {
    width:99%;
	height:25px;
	margin:2px 0 2px 0;
}

#write_form #write_row2 {
    width:99%;
	height:25px;
	margin:2px 0 2px 0;
}

#write_form #write_row3 {
    width:99%;
	height:251px;
	margin:2px 0 2px 0;
}

.write_line {
    width:99%;
	border-bottom:solid 1px #cccccc;
}

#write_form .col1 {
	float:left;
	width:120px;
	text-align:center;
	padding:5px;
	background-color:#eeeeee;
}

#write_form #write_row3 .col1 {
	height:126px;
	padding-top:120px;
}

#write_form .col2 {
	float:left;
	margin-left: 8px;
	margin-top:2px;
}

#write_form #write_row1 .col2 {
	float:left;
	margin-top:6px;
}

#write_form #write_row1 .col3 {
	float:left;
	margin-top:4px;
	margin-left:100px;
}

#write_row2 .col2 input {
	width:650px;
	height:17px;
	border:solid 1px #cccccc;
}

#write_row3 .col2 textarea {
  margin-top:1px;
	border:solid 1px #cccccc;
}

#write_button {
	margin-top:15px;
	width:97%;
	text-align:right;
}

/* view.php css */

#view_comment {
	margin:10px 0 0 10px;
}

#view_title {
	height:18px;
	padding:10px 8px 8px 8px;
	border-top:solid 2px #aaaaaa;
	background-color:#eeeeee;
	margin-bottom:5px;
}

#view_title1 {
	float:left;
	width:70%;
}

#view_title2 {
	float:left;
	width:28%;
	text-align:right;
}

#view_content {
	width:96%;
	min-height:200px;
	padding:15px;
	overflow:hidden;
	line-height:150%;
	border-bottom:solid 1px #cccccc;
}

#view_button {
	width:98%;
	text-align:right;
	margin-top:15px;
	margin-bottom:15px;
}

.container .title {
    margin: 3rem 0;
}

.container {
	width: 1100px;
	margin-bottom: 3rem;
}

.comment {
	margin: 0.5rem 0;
	border-bottom: 1px solid #eee;
}

.comment_box {
	width: 800px;
	margin: 1rem auto;
}

#c_content {
	width: 670px;
}

.comment_content {
	width: 800px;
	padding: 1rem;
	display: inline-block;
}

.comment_writer {
	float: left;
	font-weight: bolder;

}

.comment_date {
	float: right;
	color: dimgray;
}

.comment_box textarea {
	resize: none;
	padding: 0.5rem;
	margin-right: 0.5rem;
}

.comment_box button {
	width: 78px;
	height: 87px;
	border: 0;
	background-color: rgba(93, 181, 222, 0.89);
	vertical-align: top;
	color: white;
}

.input_comment_area {
	margin-top: 0.5rem;
}

.input_comment_area span{
	display: inline-block;
	width: 40px;
	vertical-align: top;
}

.btn_delete_comment {
	cursor: pointer;
}
