.send_question {
    width: 1100px;
    position: relative;
    text-align: right;
    border-bottom: 1px solid black;
    padding-right: 5rem;
}

.send_question .profile {
    display: inline-block;
    text-align: center;
}

.profile img{
    margin-right: 15px;
    margin-left: 40px;
    display: inline-block;
    width: 5rem;
    margin-bottom: 0.3rem;
}

.description {
  width: 1020px;
}

#top_description {
    width: 450px;
    display: inline-block;
    background-color: rgb(133, 198, 241);
    color: white;
    border-radius: 5px;
    padding: 1.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    margin-right: -27px;
}

#top_description span:first-child {
    font-size: 2rem;
}

.send_question textarea {
    background: #eee;
    border: 0;
    resize: none;
    width: 650px;
    overflow: auto;
    outline: 0;
    padding: 1.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-right: 1rem;
}

.send_question input {
    position: relative;
    top: -0.8rem;
    background-color: #555;
    padding: 0.5rem 1rem;
    color: white;
    border: 0;
    border-radius: 3px;
}

form {
    display: inline-block;
    margin-bottom: 2rem;
}

#write_qna, #write_qna li {
    width: 900px;
    padding: 0.5rem 0.9rem;
}

#write_qna label {
	margin: 0 1rem;
	display: inline;
}

#input_subject {
	width: 800px;
	padding: 0.5rem 1rem;
}

#textarea_content {
	width: 800px;
  	height: 30rem;
	padding: 0.5rem 1rem;
    resize: none;
    border: 1px solid #ddd;
}

.past_qna {
    width: 825px;
    margin: 0 auto 5rem auto;
    margin-left: 260px;
}

.past_qna div {
    margin: 1.5rem 0;
    display: inline-block;
    width: 625px;
}

.question_preview {
    text-align: left;
}

.answer_preview {
    text-align: right;
    margin: 1rem 0;
}

.nothing_to_show {
    text-align: center; 
    color: gray;
    width: 80%;
}

.message{
    padding: 0.7rem 1rem;
    border-radius: 3px;
    display: inline-block;
    max-width: 72%;
}

.date {
    color: #777;
    position: relative;
    bottom: -0.7rem;
}

.question_preview .message{
    background-color: #eee;
    margin-right: 0.5rem;
}

.answer_preview .message{
    background-color: rgb(133, 198, 241);
    margin-left: 0.5rem;
    color: white;
}

.container .title {
  width: 1100px;
    margin: 3rem 0;
}

#list_content {
	min-height: 30rem;
}

.list_item {
	margin: 0 auto;
	width: 800px;
	height: 40px;
	margin-top:2px;
	padding: 0.5rem 1rem;
	border-bottom:solid 1px #eeeeee;
}

#qna_contents {
	margin: 0 auto;
	width: 800px;
	min-height: 30rem;
	margin-top:2px;
	padding: 1rem;
	border-bottom:solid 1px #eeeeee;
}

.list_item .list_item1, #list_title1{
	float: left;
	width: 40px;
	text-align:center;
}

.list_item .list_item2, #list_title2{
	float: left;
	width: 400px;
  	padding-left: 50px;
}

.list_item .list_item3, #list_title3{
	float: left;
    width: 80px;
    text-align: center;
}

.list_item .list_item4, #list_title4{
	float:left;
	width:75px;
  text-align: center;
  padding-right: 15px;
}

.list_item .list_item5, #list_title5{
	float:left;
	width:160px;
	text-align:center;
}

.qna_buttons {
    display: block;
    text-align: right;
    width: 800px;
    margin: 2rem auto;
    margin-top: 0;
}
